name: Build iOS Only

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          check-latest: true

      - name: Install Gomobile Tool
        run: |
          go install golang.org/x/mobile/cmd/gomobile@latest
          gomobile init

      - name: Fix Dependencies
        # این مرحله حیاتی است که اضافه شده
        run: |
          # دانلود پکیج بایند که ارور می‌داد
          go get golang.org/x/mobile/bind
          go mod tidy

      - name: Build XCFramework for iOS
        run: |
          # حالا بیلد باید بدون مشکل انجام شود
          gomobile bind -target=ios -ldflags="-s -w" -o LibXray.xcframework .

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: LibXray-iOS
          path: LibXray.xcframework
          compression-level: 9
